.Belgium {
    width: 100px;
    height: 150px;
    background: yellow;
    border-left: 100px solid black;
    border-right: 100px solid red;
}

.Japan {
    width: 300px;
    height: 200px;
    background-color: white;
    position: relative;
    border: 1px solid black;
    margin-top: 60px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Trinidad {
    margin-top: 60px;
    width: 300px;
    height: 200px;
    background-color: red;
    position: relative;
    overflow: hidden;
}

.line{ 
    width: 35px;
    height:500px;
    background-color: rgb(0, 0, 0);
    border: solid 5px white;
    position: relative;
    top: -55%;
    left: 59%;
    transform: rotate(-50deg);
}